body {
    background-color: black;
}

.b1{
    border-left: 6px solid aqua;
    height: 140px;
    /*
    position:absolute;
    */
    top: 40px; left: 40px;
  }

.game{
    margin: 300px;
}


.ball{
    border-left: 15px solid aqua;
    height: 15px;
    /*
    position:absolute;
    */
    top: 400px; left: 800px;
}
.b2{
    border-left: 6px solid aqua;
    height: 140px;
    /*
    position:absolute;
    */
    top: 40px; left: 1584px; 
}
.playground{
    
    border : 10px solid green;
    width: 1600px;
    height: 800px;
    display: flex;

}   
/*
.center_line{
    border : 4px solid green;
    position: absolute;
    left: 800px;
    top: -10px;
    height: 810px;
}
.Center_Mark{
    border-left: 15px solid rgb(255, 255, 255);
    height: 15px;
    position:absolute;
    top: 400px; left: 797px;
}
    */
.Pause_Menu{
    background-color:rgb(120, 91, 120);
    border : 4px solid purple;
    width: 800px;
    height: 200px;
    /*
    position:absolute;
    */
    top: 300px; left: 410px; 
    display: none;
}

.Menu_Buttons{
    align-items: center;
    width: 800px;
    height: 75px;
    display: flex;
    justify-content: center;
}
.reset_button, .reset_button2{
    font-size: 35px;
    margin-bottom: 50px;
    margin-left: 10px;
    margin-right: 10px;
}

.text_Pause_Menu{
    color:white;
    width: 600px;
    height: 75px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    text-align: center;
    font-size: 50px;
}

.ScoreFrame{
    border : 10px solid purple;
    background-color:rgb(55, 31, 55);
    display: flex;
    width: 1600px;
    height: 100px;

}
.Menu_button{
    width: 150px;
    height: 75px;
    font-size: 20px;
    margin-top: auto;
    margin-bottom: auto;
}

.stat{
    color: aliceblue;
    font-size: 60px;
    margin:auto;
}